
/* COLORS
=============================================================================
=========================================================================== */
$status-bar-green: #9bd500;
$dark-red: #d50000;
$dark-grey: #2f2f2f;
$stroke-tail-grey: #dfdfdf;
$status-bar-bg: #f1f1f1;
$current-month-bg: #fafafa;


/* MEDIA QUERIES BREAK POINTS
==============================================================================
=========================================================================== */
$xs-mobile: 320px;
$sm-mobile: 480px;
$tablet-portrait: 768px;
$md-desktop: 992px;
$lg-desktop: 1200px;
